plannivo-assistant-n8n-workflow.json
{
  "name": "Kai — Plannivo AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plannivo-assistant",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "plannivo-assistant",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rlEcyVStwTqzGezv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.PLANNIVO_API_BASE }}/session/{{ $json.body.sessionId || $json.body.userId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-session",
      "name": "Fetch Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rlEcyVStwTqzGezv",
          "name": "Kai Agent Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook Trigger').item.json.body;\nconst sessionData = $input.item.json;\nconst userName = webhookData.userName || 'User';\nconst userRole = webhookData.userRole || 'outsider';\nconst userId = webhookData.userId || 'guest';\nconst now = new Date();\nconst currentDate = now.toISOString().slice(0, 10);\nconst currentTime = now.toLocaleTimeString('tr-TR', { timeZone: 'Europe/Istanbul', hour: '2-digit', minute: '2-digit' });\n\nlet contextSection = '';\nif (sessionData.exists && sessionData.summary) {\n  contextSection = '## PREVIOUS CONTEXT\\n' + sessionData.summary;\n} else if (sessionData.exists && Array.isArray(sessionData.messages) && sessionData.messages.length > 0) {\n  const recent = sessionData.messages.slice(-6);\n  contextSection = '## RECENT CONVERSATION\\n' + recent.map(m => (m.role === 'user' ? userName : 'Kai') + ': ' + m.content).join('\\n');\n}\n\nconst systemPrompt = 'You are Kai, the AI assistant for Plannivo — Duotone Pro Center Urla (UKC) in Urla, Izmir, Turkey.\\n\\n'\n  + '## CURRENT USER\\n- Name: ' + userName + '\\n- Role: ' + userRole + '\\n- User ID: ' + userId + '\\n- Today: ' + currentDate + '\\n- Time: ' + currentTime + ' (Turkey/Istanbul)\\n\\n'\n  + contextSection + '\\n\\n'\n  + '## PERSONALITY\\n- Warm, friendly, helpful. Light emoji OK.\\n- Auto-detect language: Turkish, English, German, or Russian.\\n- Keep responses concise.\\n\\n'\n  + '## CENTER INFO\\n- Location: Duotone Pro Center Urla, Urla, Izmir, Turkey\\n- Hours: 09:00-18:00 daily (weather dependent)\\n- WhatsApp School: +90 507 138 91 96\\n- WhatsApp Shop: +90 539 952 90 28\\n- Email: ukcturkey@gmail.com\\n- Services: Kite surfing lessons, foil lessons, equipment rental, accommodation, VIP memberships\\n- For bookings or detailed info, direct users to the website or WhatsApp.';\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage: webhookData.message,\n    userId,\n    userRole,\n    userName,\n    sessionId: webhookData.sessionId || userId,\n    sessionMessages: (sessionData.messages || []).slice(-20)\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build System Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 1024
        }
      },
      "id": "gemini-model",
      "name": "Gemini 2.0 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4PsOUUdtOk15l3EC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Build System Prompt\").item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1000,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PLANNIVO_API_BASE }}/session/{{ $(\"Build System Prompt\").item.json.sessionId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: ($(\"Build System Prompt\").item.json.sessionMessages || []).concat([{ role: \"user\", content: $(\"Build System Prompt\").item.json.userMessage, timestamp: new Date().toISOString() }, { role: \"assistant\", content: $input.item.json.output, timestamp: new Date().toISOString() }]), userId: $(\"Build System Prompt\").item.json.userId, userRole: $(\"Build System Prompt\").item.json.userRole }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-session",
      "name": "Save Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rlEcyVStwTqzGezv",
          "name": "Kai Agent Secret"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $(\"AI Agent\").item.json.output } }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Session": {
      "main": [
        [
          {
            "node": "Build System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build System Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}